.idea
.readme
.htaccess

data/legacy_profiler_files/*
!data/legacy_profiler_files/.readme
data/maintain_agent_files/auto_prepend_conf.srz
data/request_logs/*
!data/request_logs/.readme
data/request_results/*
!data/request_results/.readme
data/diff_cache/*
!data/diff_cache/.readme
/config.php
config_dynamic.srz
auth.txt

.git
