a:11:{i:0;b:0;s:19:"recording_namespace";s:4:"test";s:21:"recording_description";s:0:"";s:14:"recording_mode";b:0;s:9:"agent_uid";s:32:"3a6f28f4f9337f77192bc78ae9aca1a3";s:19:"recording_directory";s:56:"/var/www/projects/prof_app/web/../data/request_logs/test";s:20:"collecting_directory";s:59:"/var/www/projects/prof_app/web/../data/request_results/test";s:26:"regular_profiler_directory";s:59:"/var/www/projects/prof_app/web/../data/request_results/test";s:22:"is_regular_profiler_on";b:0;s:26:"regular_profiler_namespace";s:4:"test";s:28:"regular_profiler_description";s:4:"test";}